body {
  padding: 1em;
}

.col-md-4 {
  margin-top: 2em;
  padding-right: 2em;
}

.col-md-8 {
  margin-top: 2em;
}

.animate {
  height: 100px;
  -moz-transition: all .4s .1s ease-in-out;
  border-bottom: 1px solid #A1A1A1;
}

#blue {
  background-image: url(../img/bg.png);
}

#blue:hover{
  height: 200px;
  -moz-transition: all .4s .2s ease-in-out;
  background-color: transparent;
}
#blue > p:nth-child(2) {
  opacity: 0;
  -moz-transition: all .4s .2s ease-in-out;
}

#blue > p:nth-child(2):hover {
  opacity: 1;
  -moz-transition: all .4s .2s ease-in-out;
}
#orange {
  background-color: transparent;
  background-image: url(../img/immigration.png);
}

#orange:hover {
  height: 200px;
  -moz-transition: all .4s .2s ease-in-out;
  background-color: orange;
}

#orange > p:nth-child(2) {
  opacity: 0;
  -moz-transition: all .4s .2s ease-in-out;
}

#orange > p:nth-child(2):hover {
  opacity: 1;
  -moz-transition: all .4s .2s ease-in-out;
}

#green {
  background-color: transparent;
  background-image: url(../img/popathon.png);
}

#green:hover {
  height: 200px;
  -moz-transition: all .4s .2s ease-in-out;
  background-color: transparent;
}

#green > p:nth-child(2) {
  opacity: 0;
  -moz-transition: all .4s .2s ease-in-out;
}

#green > p:nth-child(2):hover {
  opacity: 1;
  -moz-transition: all .4s .2s ease-in-out;
}
