body {
  background-color: #fafafa;
  font-size: 16px;
}

div {
  height: 100px;
  width: 60%; /*to refine with box model*/
  margin-left: 35%; /*to refine with box model*/
  border-bottom: 1px solid #A1A1A1;
  -moz-transition: all .4s .1s ease-in-out;
}

div:hover {
  height: 200px;
  -moz-transition: all .4s .2s ease-in-out;
}

#blue {
  background-image: url(../img/bg.png);
}

#orange {
  background-color: orange;
}

#green {
  background-color: green;
}

