body {
  padding: 1em;
}

.col-md-4 {
  margin-top: 2em;
  padding-right: 4em;
}

.col-md-8, .col-md-6, #projects {
  margin-top: 2em;
}

.links {
  text-decoration: underline;
}

h3 {
  line-height: 0.1;
  padding-top: 0.5em;
  font-weight: bold;
}
li {
  margin-bottom: 1em;
}
