body {
	background-color: #fafafa;
	font-size: 16px;
}

#chartContainer
{
    background-position:50% 59%;
    background-size: 23em;
    background-repeat:no-repeat;
    height: 900px; 
    width: 100%;
}

@media screen and (max-width: 1000px) {
    #chartContainer {
            background-position:50% 60%;
            background-size: 11.5em;
            background-repeat:no-repeat;
            height: 500px; 
            width: 100%;
        }
}

@media screen and (max-width: 370px) {
    #chartContainer {
            background-position:50% 66%;
            background-size: 6.5em;
            background-repeat:no-repeat;
            height: 360px; 
            width: 100%;
        }
}

#info {
	height: 300px;
	background-color: #fafafa;
	font-family: Helvetica, sans-serif;
	margin-left: 3%;
	margin-right: 3%;
}

#info h1 {
    font-size: 1.25em;
}

#info h3 {
    font-size: 1em;
}

#info p{
    font-size: 0.875em;
}

a:link {
    text-decoration: underline;
    color: black;
}

a:visited {
    text-decoration: none;
    color:black;
}

a:hover {
    color: grey;   
}

a:active {
    text-decoration: none;
}


.canvasjs-chart-canvas
{
    background-color:transparent !important;
}