body {
	background-color: #fafafa;
	font-size: 16px;
	color: #111111;
}


/*-----------------------MAIN BOXES-----------------------*/
#chartContainer
{
    background-position:50% 58%;
    background-size: 21em;
    background-repeat:no-repeat;
    height: 900px; 
    width: 100%;
}

#info {
    height: 300px;
    background-color: #fafafa;
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin-left: 3%;
    margin-right: 3%;
    float:left;
    width: 45%;
    line-height: 1.5;
}

#data {
    height: 300px;
    background-color: #fafafa;
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin-left: 3%;
    margin-right: 3%;
    float: right;
    width: 40%;
    margin-top: 3em;
}

/*----------------------CONTENT--------------------*/

h1 {
    font-size: 1.25em;
}

h3 {
    font-size: 1em;
}

p{
    font-size: 0.875em;
}

a:link {
    text-decoration: underline;
    color: black;
}

a:visited {
    text-decoration: none;
    color:black;
}

a:hover {
    color: #aaaaaa;   
}

a:active {
    text-decoration: none;
}

.canvasjs-chart-canvas
{
    background-color:transparent !important;
}

/*--------------------RESPONSIVE--------------------*/

@media screen and (max-width: 1000px) {
    #chartContainer {
            background-position:50% 60%;
            background-size: 11.5em;
            background-repeat:no-repeat;
            height: 500px; 
            width: 100%;
        }
}

@media screen and (max-width: 370px) {
    #chartContainer {
            background-position:50% 66%;
            background-size: 6.5em;
            background-repeat:no-repeat;
            height: 360px; 
            width: 100%;
        }
}

@media screen and (max-width: 1400px) {
    #chartContainer {
            background-position:50% 60%;
            background-size: 16em;
            background-repeat:no-repeat;
            height: 700px; 
            width: 100%;
        }
}